html, body {
  font-family: 'Chivo', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
  user-select: none;
  overflow: hidden;
  overflow-x: hidden;
}

*:focus {
  outline: none;
}

div {
  position: absolute;
  user-select: none;
}

p {
  margin: 0;
  user-select: none;
}

.mainContainer {
  position: relative;
}

#menuBall {
  background-color: rgba(254, 246, 226, 0.5);
  position: fixed;
  border-radius: 50%;
  margin: 20px 20px;
  height: 37px;
  width: 37px;
  box-shadow: 1px 2px 3px #484a46;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  cursor: pointer;
  z-index: 100;
}

#menuBall:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  box-shadow: 3px 5px 10px #484a46;
  background-color: rgba(254, 246, 226, 0.9);
}

#menuBall.offScreen {
  transform: translateY(-100px);
}

#menuBall.open {
  transform: scale(0.9);
  box-shadow: 0.5px 0.5px 1px #484a46;
  background-color: rgba(254, 246, 226, 1)
}

#menuBall.open:hover {
  transform: scale(1);
  box-shadow: 2px 2px 4px #484a46;
}

#menuBall.highlight {
  animation-name: glow;
  animation-duration: 0.15s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes glow {
  to {
    box-shadow: 1px 2px 50px gold;
    background: gold;
  }
}

#menuBall span {
  background-color: #484a46;
  height: 4px;
  width: 12px;
  display: block;
  margin-bottom: 4px;
  position: absolute;
  opacity: 1;
  -webkit-transform: rotate(0deg) translate(0,0);
  -moz-transform: rotate(0deg) translate(0,0);
  -o-transform: rotate(0deg) translate(0,0);
  transform: rotate(0deg) translate(0,0);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#menuBall span:nth-child(odd) {
  border-radius: 3px 0 0 3px;
  right: 49%;
}

#menuBall span:nth-child(1) {
  top: 9.5px;
}

#menuBall span:nth-child(3) {
  top: 17px;
}

#menuBall span:nth-child(5) {
  top: 24px;
}

#menuBall span:nth-child(even) {
  border-radius: 0 3px 3px 0;
  left: 49%;
}

#menuBall span:nth-child(2) {
  top: 9.5px;
}

#menuBall span:nth-child(4) {
  top: 17px;
}

#menuBall span:nth-child(6) {
  top: 24px;
}

#menuBall.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg) translate(4px, 0px);
}

#menuBall.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg) translate(-4px, -1.5px);
  width: 11px;
}

#menuBall.open span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg) translate(-3.5px, 0px);
}

#menuBall.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg) translate(4px, -1.5px);
  width: 11px;
}

#menuBall.open span:nth-child(3) {
  opacity: 0;
  right: 15%
}

#menuBall.open span:nth-child(4) {
  opacity: 0;
  left: 15%
}

#menuDrawer {
  visibility: hidden;
  border-radius: 5px;
  position: fixed;
  background-color: rgba(59, 146, 253, 0.9);
  top: 10px;
  left: 10px;
  width: 1px;
  height: 4px;
  -webkit-transition: 0.15s ease-in-out;
  -moz-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
  box-shadow: 2px 2px 12px #484a46;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 20px;
  z-index: 99;
  margin: 20px 20px
}

#menuDrawer.open {
  visibility: visible;
  height: 390px;
  width: 170px;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#menuDrawer div {
  position: relative;
  flex: 1;
  color: white;
  opacity: 0;
  transition-delay: 0s;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

#menuDrawer div.open {
  opacity: 1;
  transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
}

#logo {
  height: 60px;
  width: 60px;
  align-self: center;
  margin: 5px auto 30px;
  opacity: 0;
  transition-delay: 0s;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  transform: scale(0.01);
  border-radius: 50%;
  user-select: none;
}

#logo.open {
  opacity: 1;
  transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
  transform: scale(1);
}

#logo.open:hover {
  -webkit-filter: drop-shadow(0px 0px 10px rgba(255, 255, 255, 0.5));
  filter: drop-shadow(0px 0px 12px rgba(255, 255, 255, 0.5));
  cursor: pointer;
  user-select: none;
}

#menuDrawer p {
  transform: scale(1) translateX(0);
  transition: 0.2s;
  font-size: 1.25em;
}

#menuDrawer p:hover {
  transform: scale(1.1) translateX(-5px);
  transition: 0.3s;
  cursor: pointer;
  text-shadow: 5px 5px 5px #484a46;
}

#socialContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: 0.15s ease-in-out;
  transform: translateY(50px);
}

#socialContainer.open {
  transform: translateY(0);
  transition: 0.2s ease-in-out;
}

#socialContainer img {
  height: 35px;
  width: 35px;
  transition: 0.2s ease-in-out;
}

#socialContainer img:hover {
  transform: scale(1.2);
  cursor: pointer;
  -webkit-filter: drop-shadow(2px 2px 2px #484a46);
  filter: drop-shadow(2px 2px 2px #484a46);
}

.content {
  position: relative;
  display: flex;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: perspective(800px);
  flex-direction: column;
}

#portfolio {
  display: flex;
  position: relative;
  max-height: 600px;
  max-width: 600px;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 5;
}

.portfolioBox {
  position: relative;
  flex: 1;
  border-radius: 30px;
  height: 250px;
  min-width: 250px;
  max-width: 250px;
  transition: 0.5s ease-in-out;
  background-color: rgba(72, 74, 70, 0.3);
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  margin: 15px 2.5px 0 2.5px;
  box-shadow: 0px 0px 25px #484a46;
}

.portfolioBox:hover {
  background-color: rgba(72, 74, 70, 0.9);
}

.profileMobile {
  width: 75%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profileMobile p {
  font-size: 12px;
}

.mobileBtns {
  position: relative;
  width: 100%;
  font-size: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-shadow: 1px 1px 10px darkgray;
}

.mobileBtns p {
  font-size: 34px;
}

.mobileBtns i {
  cursor: pointer;
}

.mobileBtns i:active {
  color: gold;
  text-shadow: none;
}

.mobileBtns i.noclick {
  opacity: 0.5;
  cursor: default;
}

.img1stHalf {
  width: 125px;
  height: 250px;
  transition: 0.25s ease-in-out;
  transform: translateX(0);
  z-index: 3;
}

.img2ndHalf {
  margin-left: 125px;
  width: 125px;
  height: 250px;
  transition: 0.25s ease-in-out;
  transform: translateX(0);
  z-index: 3;
}

.open-left {
  transform: translateX(-127px);
}

.open-right {
  transform: translateX(127px);
}

.portfolioInfo {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 250px;
}

.portfolioBtnContainer {
  flex: 1;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  width: 100%;
}

.portfolioBtn {
  margin: auto;
  font-size: 15px;
  color: white;
  font-weight: normal;
  padding: 5px 10px;
  transition: 0.15s ease-in-out;
  background: #fd9401;
  border-radius: 20px;
}

.portfolioBtn:hover {
  transform: scale(1.1);
  cursor: pointer;
  animation: shadow 0.75s linear 0.2s infinite alternate;
}

@keyframes shadow {
  0%    {box-shadow: 0px 0px 0px #fd9401;}
  25%   {box-shadow: 0px 0px 10px #fd9401;}
  50%   {box-shadow: 0px 0px 20px #fd9401;}
  100%  {box-shadow: 0px 0px 30px #fd9401;}
}

/* .portfolioBtn::before, .portfolioBtn::after {
  content: '';
  position: absolute;
  border-radius: 5px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  transition: 0.3s ease-in-out;
}


.portfolioBtn::after {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  transform: scale(0, 1);
}

.portfolioBtn:hover::after {
  transform: scale(1, 1);
  animation: shadow 0.75s linear 0.2s infinite alternate;
}

.portfolioBtn::before {
  border-left: 2px solid white;
  border-right: 2px solid white;
  transform: scale(1, 0);
}

.portfolioBtn:hover::before {
  transform: scale(1, 1);
  animation: shadow 0.75s linear 0.2s infinite alternate;
} */

.portfolioDesc {
  flex: 1.5;
  color: white;
  font-size: 14px;
  text-align: center;
  font-style: italic;
  padding: 30px 10px 0;
}

.portfolioTechContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.portfolioTech {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 42px;
}

.portfolioTechItem {
  color: #484a46;
  border-radius: 2px;
  padding: 1px 2px;
  font-size: 10px;
  font-weight: bold;
  background-color: #fef6e2;
  text-align: center;
  position: relative;
  margin: 0 2px;
  transition: 0.1s ease-in-out;
}

.portfolioTechItem:hover {
  transform: scale(1.1);
  color: #3b92fd;
}

#initial {
  background: url("./img/initialBg.jpeg");
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  background-size: cover;
}

#profileImgContainer {
  height: 200px;
  width: 200px;
  position: relative;
}

#sigA, #sigM {
  position: absolute;
  top: 0; bottom: 0;
  right: 0; left: 0;
  transition-duration: 2s;
}

#sigA {
  stroke: white;
  stroke-width: 3;
  stroke-dasharray: 1622.916748046875px;
  stroke-dashoffset: 1622.916748046875px;
  animation-name: draw;
  animation-duration: 4s;
  animation-fill-mode: forwards; // Stay on the last frame
  animation-iteration-count: 1; // Run only once
  animation-timing-function: ease-in-out;
}

#sigM {
  stroke: white;
  stroke-width: 3;
  stroke-dasharray: 1825.9140625px;
  stroke-dashoffset: 1825.9140625px;
  animation-name: draw;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

#A, #M {
  fill: white;
  fill-opacity: 0;
  animation-name: fill;
  animation-duration: 2s;
  animation-delay: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

@keyframes draw {
  to { stroke-dashoffset: 0; }
}

@keyframes fill {
  from { fill-opacity: 0; }
  to { fill-opacity: 1; }
}

#sigA.fade, #sigM.fade {
  opacity: 0;
}

#profile {
  border-radius: 50%;
  transition: 1s ease-in-out 5s;
  opacity: 0;
  user-select: none;
  height: 200px;
  width: 200px;
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
}

#profile.in {
  opacity: 1;
  transform: translateY(0);
  user-select: none;
  transition: 0.1s;
}

#initial h2 {
  color: white;
  font-weight: normal;
  font-size: 3em;
  margin: 0;
  transition: 1s ease-in-out;
  opacity: 0;
  font-weight: 200;
  visibility: hidden;
  /* text-shadow: 3px 3px 6px #484a46; */
}

#initial h2.in {
  opacity: 1;
  margin: 10px 0 5px;
  transition: 0.1s;
  visibility: visible;
}

#line {
  width: 490px;
  height: 1px;
  background-color: white;
  transition: 0.5s ease-in-out;
  transform: scale(0);
  /* box-shadow: 2px 2px 4px #484a46; */
}

#line.in {
  transition: 0.1s;
  transform: scale(1);
}

.outerDiv {
  font-weight: 100;
  color: white;
  margin-top: 5px;
  font-size: 1.5em;
  transition: 0.5s ease-in-out;
  transform: translateY(-50px);
  /* text-shadow: 2px 2px 4px #484a46; */
  opacity: 0;
}

.outerDiv.in {
  transform: translateX(0);
  opacity: 1;
  transition: 0.1s;
}

.outerDiv {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.innerDiv {
  transition: 0.15s linear;
  padding: 0 10px;
  position: relative;
}

.innerDiv:hover {
  color: gold;
}

.innerDiv span {
  visibility: hidden;
  width: 160px;
  top: 170%;
  left: 50%;
  margin-left: -80px;
  background-color: rgba(0,0,0,.5);
  border-radius: 6px;
  padding: 10px;
  text-align: center;
  z-index: 25;
  position: absolute;
  color: white;
  font-size: 12px;
}

.innerDiv span::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -10px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent rgba(0,0,0,.5) transparent;

}

.innerDiv:hover span {
  visibility: visible;
}

.innerSpan:hover::after {
  background: #333;
  background: rgba(0,0,0,.5);
  border-radius: 5px;
  top: 40px; left: 0; right: 0;
  color: #fff;
  content: "hello";
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  width: 220px;
  height: 100px;
}

.portfolioHeader {
  flex: 1;
  z-index: 10;
  max-height: 6em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portfolioHeader h2 {
  margin: 0;
  font-size: 3em;
  color: white;
  font-weight: 300;
  text-shadow: 3px 3px 10px #484a46;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.portfolioHeader p {
  margin: 0;
  font-size: 1em;
  color: white;
  font-weight: 200;
  text-shadow: 1px 1px 4px #484a46;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#portfolioContainer.content {
  background: linear-gradient(135deg, #484a46, purple, navy, #3b92fd, lightblue, #fef6e2);
  background-size: 200% 200%;
}

.starsContainer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#stars, #nature {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: transparent;
  overflow: hidden;
}

#stars {
  top: 0vh;
  left: 0vw;
}

#aboutMe {
  background-color: transparent;
  overflow: hidden;
  background-size: cover;
}

#aboutMeMenu {
  position: absolute;
  bottom: 30px;
  left: 40px;
  width: 200px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  z-index: 100;
}

#aboutMeMenu:hover {
  cursor: pointer;
}

#head, #desk, #heart, #slash {
  position: relative;
  text-align: center;
  color: white;
  opacity: 1;
  transition:
      color 0.1s linear,
      opacity 0.01s linear,
      font-weight 0.1s linear,
      transform 0.15s ease-in-out;
}

#head, #desk, #heart {
  width: 55px;
  height: 65px;
  padding-top: 45px;
  text-shadow: 1px 1px 4px black;
}

#head:hover, #desk:hover, #heart:hover, #slash:hover {
  color: gold;
  font-weight: normal;
}

#lightning, .lightningContainer {
  width: 100vw;
  height: 100vh;
  background: transparent;
  transition: 1.5s ease-in-out;
}

#lightning.whiteBg {
  background-color: white;
  transition: 0.01s linear;
}

#lightning.grayBg {
  background-color: gray;
  transition: 0.01s linear;
}

#head.aBUp, #desk.aBUp, #heart.aBUp, #slash.aBUp {
  opacity: 0;
}

#head.aBUp, #desk.aBUp, #heart.aBUp, #slash.aBUp,
#headImg.aBUp, #deskImg.aBUp, #heartImg.aBUp, #slashImg.aBUp {
    transform: translateY(-50px);
}

#headImg.aBUp, #deskImg.aBUp, #heartImg.aBUp, #slashImg.aBUp {
  opacity: 1;
}

#headImg, #heartImg, #deskImg {
  -webkit-filter: drop-shadow(1px 1px 5px black);
  filter: drop-shadow(1px 1px 5px black);
  height: 65px;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
}

#headImg.img1 {
  background-image: url("./img/head1.png");
}

#headImg.img2 {
  background-image: url("./img/head2.png");
}

#headImg.img3 {
  background-image: url("./img/head3.png");
}

#heartImg.img1 {
  background-image: url("./img/heart1.png");
}

#heartImg.img2 {
  background-image: url("./img/heart2.png");
}

#heartImg.img3 {
  background-image: url("./img/heart3.png");
}

#deskImg.img1 {
  background-image: url("./img/desk1.png");
}

#deskImg.img2 {
  background-image: url("./img/desk2.png");
}

#deskImg.img3 {
  background-image: url("./img/desk3.png");
}

#sparks, .sparksContainer {
  width: 100vw;
  height: 50vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: transparent;
  z-index: 99;
}

.aboutMeInfoContainer {
  width: 92%;
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  top: 50px;
}

#formalEducation, #formalEducation div {
  display: flex;
  position: relative;
}

#formalEducation, #informalEducation, #confidenceLevels {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  flex: 1;
}

#formalEducation div {
  flex-direction: column;
  color: white;
  text-shadow: 1px 1px 8px black;
  background: rgba(0,0,0,0.5);
  height: 90px;
  padding: 5px 20px;
  display: flex;
  justify-content: center;
  border-radius: 0 5px 5px 0;
  transform: translateX(-1px);
}

#formalEducation div h2 {
  margin: 0;
  align-self: flex-start;
  font-weight: 400;
}

#formalEducation div p {
  align-self: flex-start;
  font-weight: 100;
}

#formalEducation img {
  height: 100px;
  border-radius: 5px 0 0 5px;
}

#informalEducation, #confidenceLevels, #jsInfo {
  color: white;
  background-color: #484a46;
  border-radius: 10px;
  padding: 10px 20px;
  margin: 5px auto 0;
  position: relative;
}

#informalEducation {
  max-width: 685px;
}

#confJSContainer {
  max-width: 760px;
}

#informalEducation code:nth-child(2) {
  padding-left: 50px;
}

#deskContainer span {
  height: 1px;
  width: 75%;
  min-width: 500px;
  background-color: white;
  margin-top: 10px;
}

#confidenceLevels {
  font-weight: 500;
  font-size: 16px;
}

#confidenceLevels code:nth-child(even) {
  font-weight: 200;
  font-size: 14px;
}

.htmlTag, .cssPerc {
  color: orange;
  background-color: transparent !important;
  font-weight: 500;
}

#confJSContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.fnBlue, .fnPurple {
  background: transparent !important;
  font-weight: 500;
}

.fnBlue {
  color: lightblue;
}

.fnPurple {
  color: #cf75f6;
}

#jsInfo code:nth-child(2),
#jsInfo code:nth-child(6) {
  padding-left: 50px;
}

#jsInfo code:nth-child(3),
#jsInfo code:nth-child(4),
#jsInfo code:nth-child(5)  {
  padding-left: 100px;
}

#deskContainer, #headContainer, #heartContainer {
  opacity: 0;
  transform: translateX(-100vw);
  transition: 0.01s ease-in-out;
}

.hidden {
  visibility: hidden;
}

#deskContainer.appear, #headContainer.appear, #heartContainer.appear {
  transform: translateX(0vw);
  opacity: 1;
  transition: 0.5s ease-in-out;
}

#tabContainer, #editor {
  position: relative;
  width: 90%;
  max-width: 600px;
}

#tabContainer {
  display: flex;
  flex-direction: row;
}

#editor {
  background: #484a46;
  border-radius: 0 10px 10px 10px;
  height: 60%;
  flex: 2;
}

.tab {
  position: relative;
  background: lightgray;
  border-radius: 10px 10px 0 0;
  padding: 6px 15px;
  font-size: 14px;
}

.tab:hover {
  cursor: pointer;
  box-shadow: 0px 0px 10px white;
}

#headContainer {
  display: flex;
  justify-content: space-around;
  max-width: 700px;
  top: 25px;
}

.statement {
  position: relative;
  border-radius: 10px;
  padding: 5px 10px;
  max-width: 75%;
  user-select: none;
  display: flex;
  align-items: center;
}

.left {
  color: black;
  background: white;
  align-self: flex-start;
}

.right {
  color: white;
  background: black;
  align-self: flex-end;
}

.statement i {
  font-size: 24px;
  margin: 0 10px 0 5px;
}

.statement i.on {
  color: yellow;
}

#bulb {
  position: relative;
}

#heartContainer {

}

#sayHello {
  background: url("./img/rome.jpg");
  display: flex;
  flex-direction: column;
  background-size: cover;
  justify-content: space-around;
}

#sayHello div {
  position: relative;
}

#sayHello::before {
  content: " ";
  height: 100vh;
  width: 100vw;
  position: absolute;
  background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.7) 10%, rgba(0,0,0,0.5) 30%, transparent 70%);
}

.sHHeader {
  flex: 1.2;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.sHContent {
  flex: 3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  max-width: 500px;
  width: 95%;
}

#sHFormContainer {
  align-items: center;
  justify-content: center;
  padding: 15px;
  border: 4px solid white;
  background: rgba(72, 74, 70, 0.6);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sHFormContainer {
  flex: 2;
  border-radius: 20px;
}

#sHForm {
  max-width: 300px;
  width: 90%;
}

#sHForm div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

#sHForm label {
  align-self: flex-start;
  color: white;
  transform: translateY(28px);
  transition: 0.3s ease-in-out;
}

#sHForm label:hover {
  cursor: text;
}

#sHForm label.selected {
  transform: translateY(0) scale(0.8) translateX(-10px);
  cursor: default;
}

#sHForm input, #sHForm textarea {
  border-radius: 10px;
  border: 2px solid white;
  background: rgba(72, 74, 70, 0.6);
  color: white;
  padding: 9px;
  width: 100%;
}

textarea {
  font-family: 'Chivo', Helvetica, Arial,
    'Lucida Grande', sans-serif;
}

#sHForm textarea {
  resize: none;
  height: 120px;
  margin-bottom: 15px;
}

#sHFormSend {
  font-size: 18px;
  padding: 5px 12px;
  border-radius: 10px;
  border: none;
  background: orange;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}

#sHFormSend i {
  margin-left: 10px;
  transition: 1s ease-in-out;
}

#sHFormSend span {
  visibility: hidden;
  width: 0;
  transition: 0.2s ease-in-out;
}

#sHFormSend span.sending {
  visibility: visible;
  width: auto;
}

#sHFormSend i.sending {
  transform: translateX(200px);
  opacity: 0;
}

#sHFormSend:hover {
  cursor: pointer;
  background: darkorange;
}

#sHSubmit:hover {
  background-color: rgba(253, 196, 0, 0.5);
  cursor: pointer;
}

.sHImg, .sHHeaderText {

}

.sHImg img {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  margin: 10px;
}

.sHHeaderText {
  padding: 0 10px 10px;
}

.sHHeaderText h2 {
  margin: 0;
  font-size: 62px;
  font-weight: 300;
}

.sHHeaderText p {
  font-size: 19px;
  margin-top: -10px;
}

#sHFormContainer p {
  color: white;
  font-size: 12px;
  text-align: center;
  max-width: 350px;
}

#sHFormSend p {
  font-size: 18px;
}

.heartIcon {
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.15s;
  transform: scale(0) rotate(0);
  transition-timing-function: ease-in-out;
}

.heartIcon.in {
  transform: scale(1) rotate(0);
}

.heartIcon.in:hover {
  background-color: gold;
  box-shadow: 0 0 20px white;
  transform: scale(1.1) rotate(359deg) !important;
  border: 5px solid white;
  transition: 0.5s;
}

.hide {
  visibility: hidden;
}

.heartIcon.focus {
  top: 5px !important;
  left: 5px !important;
  background: transparent;
  transform: scale(1.15) rotate(0);
}

.heartIconsContainer.focus {
  background: rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  box-shadow: 0px 0px 20px black;
  transition: 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#close {
  border-radius: 50%;
  background: red;
  padding: 5px;
  width: 20px;
  height: 20px;
  top: 10px;
  right: 10px;
  transition: 0.25s;
}

#close span {
  border-radius: 10px;
  background-color: white;
  width: 20px;
  height: 3px;
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  margin: auto;
}

#close span:nth-child(even) {
  transform: rotate(45deg);
}

#close span:nth-child(odd) {
  transform: rotate(135deg);
}

#close:hover {
  box-shadow: 1px 1px 10px #484a46;
  transform: scale(1.1);
  cursor: pointer;
}

#heartDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5%;
  position: relative;
  height: 80%;
}

#heartDetails h2 {
  font-size: 50px;
  margin: 0 auto;
  color: #484a46;
  flex: 2;
}

#heartDetails span {
  background-image: linear-gradient(to right, transparent 10%, #484a46, transparent 90%);
  height: 2px;
  width: 100%;
}

.thingsILoveContainer {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  color: white;
  text-shadow: 1px 1px 5px black;
}

.thingsILoveContainer svg {
  width: 60%;
  fill: white;
  fill-opacity: 0;
  animation-name: fill;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.thingsILoveContainer p {
  margin: 0 auto;
  font-size: 12px;
  transition: 0.3s;
  opacity: 0;
}

.thingsILoveContainer h2 {
  margin: 0 auto;
  font-size: 40px;
  transition: 0.2s;
  opacity: 0;
  transform: scale(0);
}

.thingsILoveContainer p.in, .thingsILoveContainer h2.in {
  opacity: 1;
  transform: scale(1);
}

.detailTextContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100%;
  flex: 2;
}

.detailTextContainer svg {
  flex: 0.5;
}

.detailTextContainer p {
  flex: 7;
  margin-left: 15px;
}

@keyframes point {
  0%    { transform: translateY(0px) }
  85%   { transform: translateY(50px) }
  100%  { transform: translateY(0px) }
}

#theory p {
  color: white;
  text-shadow: 1px 1px 10px black;
}

.quote {
  font-size: 30px;
  font-weight: 400;
  text-align: center;
  transform: translateX(-100vw);
  transition-duration: 0.25s;
  transition-delay: 0s;
}

.quote.in {
  transform: translateX(0);
  transition-duration: 0.5s;
  transition-delay: 0.5s
}

.quoteName {
  font-size: 16px;
  font-style: italic;
  text-align: right;
  margin: 15px 15px;
  transform: translateX(100vw);
  transition-duration: 0.25s;
  transition-delay: 0s;
}

.quoteName.in {
  transform: translateX(0);
  transition-duration: 0.25s;
  transition-delay: 2s;
}

#menuArrow {
  opacity: 0;
  transition-duration: 0.25s;
  transition-delay: 0s;
  color: white;
  text-shadow: 1px 1px 8px black;
  font-size: 14px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 400;
}

#menuArrow.in {
  opacity: 1;
  transition-duration: 1s;
  transition-delay: 4s;
}

#menuArrow i {
  font-size: 34px;
  animation-name: point;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
  transform: translateY(0px);
}

@keyframes point {
  0%    { transform: translateY(0px) }
  20%   { transform: translateY(15px) }
  100%  { transform: translateY(0px) }
}

span.white {
  background-image: linear-gradient(to right, transparent 10%, white, transparent 90%);
  height: 1px;
  width: 100%;
  margin: 20px auto 10px;
}

.portfolioMoreInfo {
  top: 0; bottom: 0;
  right: 0; left: 0;
  z-index: 50;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  transition: 0.2s linear;
}

#witwarsInfo {

}

.infoSectionBg {
  flex: 1;
  position: relative;
  width: 100%;
  background-position: center;
  transition: 0.3s ease-in-out;
  transform: translateX(100vw);
}

.infoSectionBg.in {
  transform: translateX(0);
}

.infoSectionBg.minimize {
  flex: 0;
}

.infoSectionBg.minimize .infoSection {
  opacity: 0;
  visibility: hidden;
  user-select: none;
}

.infoSectionBg.in:hover {
  flex: 1.75;
  cursor: pointer;
}

.infoSection {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  transition: 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.infoSection.hide {
  opacity: 0;
}

.infoSection:hover {
  background: rgba(0, 0, 0, 0.15);
}

.infoSectionText h2 {
  transition: 0.4s ease-in-out;
  font-weight: 100;
  font-size: 2em;
  margin: 0 0 10px;
  transform: scale(1) translateY(20px);
}

.infoSection:hover .infoSectionText h2 {
  transform: scale(1.4) translateY(0);
  text-shadow: 1px 1px 10px black;
}

.infoSectionText p {
  opacity: 0;
  transform: translateY(-15px);
  padding: 5px 10px;
  border-radius: 5px;
  background-color: rgba(72, 74, 70, 0.9);
  transition: 0.2s ease-in-out
}

.infoSection:hover .infoSectionText p {
  transform: translateY(0px);
  opacity: 1;
  transition: 0.3s ease-in-out 0.3s;
}

.infoSectionText {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease-in-out;
}

.infoSection span {
  bottom: 0;
  position: absolute;
  font-size: 10px;
  background: #fd9401;
  padding: 5px 10px;
  border-radius: 5px 5px 0 0;
  opacity: 0;
  transform: translateY(25px);
  transition: 0.15s linear;
  font-size: 14px;
}

.infoSection:hover span {
  opacity: 1;
  transform: translateY(0px);
  transition: 0.3s ease-in-out 0.5s;
}

.moreInfoClose {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 46px;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.2s linear;
  z-index: 51;
  transform: scale(0.01);
}

.moreInfoClose.in {
  transform: scale(1);
  text-shadow: 1px 1px 5px black;
}

.moreInfoClose.in:hover {
  color: rgba(255, 255, 255, 1);
  transform: scale(1.1);
  cursor: pointer;
  text-shadow: 2px 2px 10px black;
}

.detailedInfo div {
  position: relative;
}

.detailedInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0; bottom: 0;
  right: 0; left: 0;
  background: rgba(0, 0, 0, 0.35);
}

.detailedInfoGallery {
  flex: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  transform: translateX(-100vw);
  transition: 0.35s ease-in-out;
}

.detailedInfoGallery.in {
  transform: translateX(0);
}

.detailedInfoGallery img {
  border-radius: 3px;
  transition: 0.15s linear;
  box-shadow: 1px 1px 5px #484a46;
  margin: 0 20px;
}

.detailedInfoGallery img:hover {
  transform: scale(1.025);
  box-shadow: 2px 2px 20px #484a46;
}

.detailedInfoGallery img:hover::after {
  content: "Click to view larger image.";
}

.detailedInfoGallery i {
  font-size: 60px;
  color: white;
  opacity: 0.5;
  transition: 0.1s linear;
}

.detailedInfoGallery i:hover {
  opacity: 0.9;
  transform: scale(1.1);
  cursor: pointer;
}

.detailedInfoStatements {
  flex: 1;
  display: flex;
  flex-direction: column;
  /* transform: translateX(100vw);
  transition: 0.35s ease-in-out; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border-radius: 10px;
  overflow: hidden;
  text-align: center;
  width: 95%;
  max-width: 750px;
  margin: 5px 0 20px;
}

/* .detailedInfoStatements.in {
  transform: translateX(0);
} */

.detailedInfoExtra {
  transform: translateY(100vh);
  transition: 0.3s ease-in-out;
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.detailedInfoExtra p {
  margin-bottom: 10px;
}

.detailedInfoExtra.in {
  transform: translateY(0);
}

.detailedInfoExtra a {
  color: #3b92fd;
  font-weight: bold;
}

.blur {
  filter: blur(5px);
}

.infoStatement {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 10px;
  width: 33.3%;
  transition: 0.1s ease-in-out;
  transform: translateX(100vw);
}

.infoStatement.in {
  transform: translateX(0);
  transition: 1s ease-in-out;
}

.infoStatement i {
  font-size: 30px;
  margin: 0 5px;
}

.infoStatement:nth-child(odd) {
  background: rgba(255, 255, 255, 0.75);
  color: black;
}

.infoStatement:nth-child(even) {
  background: rgba(0, 0, 0, 0.75);
  color: white;
}

.infoStatement:nth-child(odd):hover {
  background: #fdc400;
  transition: 0.1s ease-in-out;
}

.infoStatement:nth-child(even):hover {
  background: #fdc400;
  transition: 0.1s ease-in-out;
}

.appStoreBadges img {
  transition: 0.15s linear;
}

.appStoreBadges img:hover {
  transform: scale(1.05);
}

.videoContainer {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  height: 0;
  overflow: hidden;
}

.videoContainer iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 500px;
  max-width: 888px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.videoGallery {
  flex: 1;
  width: 90%;
  height: 90%;
  padding: 100px 0 0;
  max-height: 550px;
  margin-bottom: 20px;
}

@media (max-width: 1099px) {

}

@media only screen and (max-width: 579px), only screen and (max-height: 579px) {
  #portfolioContainer.content {
    position: relative;
  }

  .starsContainer {
    /* position: relative; */
  }

  #portfolio {
    flex: 4
  }

  .portfolioHeader, .profileMobile {
    flex: 1;
    position: relative;
  }

  .portfolioHeader p {
    font-size: 12px;
  }

  .portfolioHeader h2 {
    font-size: 35px;
    margin-top: 10px;
  }

  .portfolioBox {
    position: absolute;
    top: 15vh;
  }

  .portfolioBox:last-child {
    margin-bottom: 25px;
  }

  #initial h2 {
    font-size: 2em;
  }

  .outerDiv {
    font-size: 1em;
  }

  #line {
    width: 85%;
  }

  .innerDiv span {
    width: 100px;
    margin-left: -50px;
    font-size: 11px;
    top: 150%;
  }

  #aboutMeMenu {
    bottom: 10px;
    left: 10px;
  }

  #formalEducation div {
    height: 70px;
  }

  #formalEducation img {
    height: 80px;
  }

  #formalEducation h2 {
    font-size: 1.25em;
  }

  #formalEducation p {
    font-size: 14px;
  }

  code {
    font-size: 12px;
  }

  .statement {
    font-size: 14px;
  }

  #sHFormContainer {

  }

  .sHImg img {
    margin-bottom: 0;
    margin-top: 25px;
    height: 90px;
    width: 90px;
  }

  .sHHeaderText h2 {
    font-size: 40px;
  }

  .sHHeaderText p {
    font-size: 16px;
  }

  .sHHeader {
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    flex: 1;
  }

  .sHHeaderText {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #sHForm textarea {
    height: 100px;
  }

  .sHContent {
    align-items: center;
  }

  .thingsILoveContainer p {
    font-size: 10px;
  }

  .thingsILoveContainer h2 {
    font-size: 28px;
  }

  #heartDetails h2 {
    font-size: 28px;
  }

  .detailTextContainer p {
    font-size: 14px;
  }

  #sHFormContainer p {
    font-size: 10px;
  }

  #sHFormSend p {
    font-size: 18px;
  }

  span.white {
    margin-top: 10px;
  }

  #sHFormContainer {
    padding: 9px;
  }

  /* #sHForm input, #sHForm textarea {
    padding: 6px 10px;
  } */

  .infoStatement {
    font-size: 12px;
  }

  .detailedInfoExtra p {
    margin-bottom: 5px;
    font-size: 14px;
  }

}

@media only screen and (max-width: 329px), only screen and (max-height: 329px) {
  #formalEducation {
    flex: 0.65;
  }

  #formalEducation img {
    height: 50px;
  }

  #formalEducation div p {
    font-size: 11px;
  }

  #formalEducation div h2 {
    font-size: 1em;
  }

  #formalEducation div {
    height: 40px;
    padding: 5px 10px;
  }

  .outerDiv {
    font-size: 0.82em;
  }

  .portfolioBox {
    top: 0;
  }

  .tab {
    font-size: 12px;
    padding: 3px 7px;
    border-radius: 5px 5px 0 0;
  }

  .statement {
    font-size: 12px;
  }

  .sHHeader {
    flex-direction: row;
    margin-left: 50px;
  }

  .sHImg img {
    height: 60px;
    width: 60px;
    margin: 0;
  }

  .sHHeaderText {
    align-items: flex-start;
  }

  .sHHeaderText h2 {
    font-size: 30px;
  }

  .sHHeaderText p {
    font-size: 12px;
  }

  #formDesc, span.white {
    visibility: hidden;
    height: 0px;
    margin: 0;
  }

  #sHFormContainer {
    border: none;
    background: none;
    padding: 5px;
  }

  .sHContent {
    flex: 3.5;
    align-items: flex-start;
  }

  .infoStatement {
    font-size: 9px;
  }

  .detailedInfoStatements {
    overflow: scroll;
    margin: 0;
  }

  .detailTextContainer p {
    font-size: 11px;
  }

}

@media only screen and (orientation:landscape) and (max-width: 824px) {
  body {
    height: 100vw;
    transform: rotate(90deg);
  }

  #menuBall {
    visibility: hidden;
  }

  .content {
    width: 100vh;
    height: 100vw;
    z-index: 1;
  }
}
