html, body {
  font-family: 'Open Sans', Helvetica, Arial,
    'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

div {
  position: absolute;
}

p {
  margin: 0;
}

.mainContainer {
  position: relative;
}

#menuBall {
  background-color: rgba(254, 246, 226, 0.6);
  position: fixed;
  border-radius: 50%;
  margin: 20px 20px;
  height: 37px;
  width: 37px;
  box-shadow: 1px 2px 3px #484a46;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  cursor: pointer;
  z-index: 100;
}

#menuBall:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  box-shadow: 3px 5px 10px #484a46;
  background-color: rgba(254, 246, 226, 0.9);
}

#menuBall.offScreen {
  transform: translateY(-100px);
}

#menuBall.open {
  transform: scale(0.9);
  box-shadow: 0.5px 0.5px 1px #484a46;
  background-color: rgba(254, 246, 226, 1)
}

#menuBall.open:hover {
  transform: scale(1);
  box-shadow: 2px 2px 4px #484a46;
}

#menuBall span {
  background-color: #484a46;
  height: 4px;
  width: 12px;
  display: block;
  margin-bottom: 4px;
  position: absolute;
  opacity: 1;
  -webkit-transform: rotate(0deg) translate(0,0);
  -moz-transform: rotate(0deg) translate(0,0);
  -o-transform: rotate(0deg) translate(0,0);
  transform: rotate(0deg) translate(0,0);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#menuBall span:nth-child(odd) {
  border-radius: 3px 0 0 3px;
  right: 49%;
}

#menuBall span:nth-child(1) {
  top: 10px;
}

#menuBall span:nth-child(3) {
  top: 17px;
}

#menuBall span:nth-child(5) {
  top: 24px;
}

#menuBall span:nth-child(even) {
  border-radius: 0 3px 3px 0;
  left: 49%;
}

#menuBall span:nth-child(2) {
  top: 10px;
}

#menuBall span:nth-child(4) {
  top: 17px;
}

#menuBall span:nth-child(6) {
  top: 24px;
}

#menuBall.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg) translate(4px, 0px);
}

#menuBall.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg) translate(-4px, -1.5px);
  width: 11px;
}

#menuBall.open span:nth-child(2) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg) translate(-3.5px, 0px);
}

#menuBall.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg) translate(4px, -1.5px);
  width: 11px;
}

#menuBall.open span:nth-child(3) {
  opacity: 0;
  right: 15%
}

#menuBall.open span:nth-child(4) {
  opacity: 0;
  left: 15%
}

#menuDrawer {
  visibility: hidden;
  border-radius: 5px;
  position: fixed;
  background-color: rgba(72, 74, 70, 0.9);
  top: 10px;
  left: 10px;
  width: 1px;
  height: 4px;
  -webkit-transition: 0.15s ease-in-out;
  -moz-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
  box-shadow: 2px 2px 12px #484a46;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 20px;
  z-index: 99;
  margin: 20px 20px
}

#menuDrawer.open {
  visibility: visible;
  height: 330px;
  width: 170px;
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}

#menuDrawer div {
  position: relative;
  flex: 1;
  color: white;
  opacity: 0;
  transition-delay: 0s;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

#menuDrawer div.open {
  opacity: 1;
  transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
}

#menuDrawer p {
  transform: scale(1) translateX(0);
  transition: 0.2s;
  font-size: 1.25em;
}

#menuDrawer p:hover {
  transform: scale(1.1) translateX(-5px);
  transition: 0.3s;
  cursor: pointer;
  text-shadow: 5px 5px 5px #484a46;
}

#socialContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: 0.15s ease-in-out;
  transform: translateY(50px);
}

#socialContainer.open {
  transform: translateY(0);
  transition: 0.2s ease-in-out;
}

#socialContainer img {
  height: 35px;
  width: 35px;
  transition: 0.2s ease-in-out;
}

#socialContainer img:hover {
  transform: scale(1.2);
  cursor: pointer;
  -webkit-filter: drop-shadow(2px 2px 2px #484a46);
  filter: drop-shadow(2px 2px 2px #484a46);
}

.content {
  position: relative;
  display: flex;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  transform: perspective(800px);
  flex-direction: column;
}

#portfolio {
  display: flex;
  position: relative;
  max-height: 600px;
  max-width: 600px;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 6;
}

.portfolioBox {
  position: relative;
  flex: 1;
  border-radius: 30px;
  height: 250px;
  min-width: 250px;
  max-width: 250px;
  transition: 0.5s ease-in-out;
  background-color: rgba(72, 74, 70, 0.3);
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  margin: 15px 2.5px 0 2.5px;
  box-shadow: 0px 0px 25px #484a46;
}

.portfolioBox:hover {
  background-color: rgba(72, 74, 70, 0.9);
}

.img1stHalf {
  width: 125px;
  height: 250px;
  transition: 0.25s ease-in-out;
  transform: translateX(0);
  z-index: 3;
}

.img2ndHalf {
  margin-left: 125px;
  width: 125px;
  height: 250px;
  transition: 0.25s ease-in-out;
  transform: translateX(0);
  z-index: 3;
}

.open-left {
  transform: translateX(-125px);
}

.open-right {
  transform: translateX(125px);
}

.portfolioInfo {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 250px;
}

.portfolioBtnContainer {
  flex: 1;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  width: 100%;
}

.portfolioBtn {
  margin: auto;
  font-size: 14px;
  color: white;
  font-weight: normal;
  padding: 5px 10px;
  transition: 0.3s ease-in-out;
  background: transparent;
}

.portfolioBtn:hover {
  transform: scale(1.15);
  cursor: pointer;
  font-weight: bold;
}

@keyframes shadow {
  0%    {box-shadow: 0px 0px 0px white;}
  25%   {box-shadow: 0px 0px 5px white;}
  50%   {box-shadow: 0px 0px 10px white;}
  100%  {box-shadow: 0px 0px 15px white;}
}

.portfolioBtn::before, .portfolioBtn::after {
  content: '';
  position: absolute;
  border-radius: 5px;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: -1;
  transition: 0.3s ease-in-out;
}


.portfolioBtn::after {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  transform: scale(0, 1);
}

.portfolioBtn:hover::after {
  transform: scale(1, 1);
  animation: shadow 0.75s linear 0.2s infinite alternate;
}

.portfolioBtn::before {
  border-left: 2px solid white;
  border-right: 2px solid white;
  transform: scale(1, 0);
}

.portfolioBtn:hover::before {
  transform: scale(1, 1);
  animation: shadow 0.75s linear 0.2s infinite alternate;
}

.portfolioDesc {
  flex: 1.5;
  color: white;
  font-size: 14px;
  text-align: center;
  font-style: italic;
  padding: 30px 10px 0;
}

.portfolioTechContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.portfolioTech {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 42px;
}

.portfolioTechItem {
  color: #484a46;
  border-radius: 2px;
  padding: 1px 2px;
  font-size: 10px;
  font-weight: bold;
  background-color: #fef6e2;
  text-align: center;
  position: relative;
  margin: 0 2px;
  transition: 0.1s ease-in-out;
}

.portfolioTechItem:hover {
  transform: scale(1.1);
  color: #3b92fd;
  cursor: pointer;
}

#initial {
  background: url("https://picsum.photos/3001/1001");
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
}

#initial img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 10px solid white;
  transition: 1s ease-in-out 1s;
  opacity: 0;
  transform: translateY(-60vh);
  box-shadow: 3px 3px 6px #484a46;
}

#initial img.in {
  opacity: 1;
  transform: translateY(0);
}

#initial h2 {
  color: white;
  font-weight: normal;
  font-size: 3em;
  margin: 0;
  transition: 1s ease-in-out;
  opacity: 0;
  text-shadow: 3px 3px 6px #484a46;
}

#initial h2.in {
  opacity: 1;
  margin: 10px 0 5px;
}

#initial span {
  width: 550px;
  height: 1px;
  background-color: white;
  transition: 0.5s ease-in-out 2.5s;
  transform: scale(0);
  box-shadow: 2px 2px 4px #484a46;
}

#initial span.in {
  transform: scale(1);
}

#initial p {
  font-weight: 100;
  color: white;
  margin-top: 5px;
  font-size: 2em;
  transition: 0.5s ease-in-out 2.0s;
  transform: translateY(-50px);
  text-shadow: 2px 2px 4px #484a46;
  opacity: 0;
}

#initial p.in {
  transform: translateX(0);
  opacity: 1;
}

.portfolioHeader {
  flex: 1;
  z-index: 10;
  max-height: 6em;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.portfolioHeader h2 {
  margin: 0;
  font-size: 3em;
  color: white;
  font-weight: 200;
  text-shadow: 3px 3px 10px #484a46;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.portfolioHeader p {
  margin: 0;
  font-size: 1em;
  color: white;
  font-weight: 200;
  text-shadow: 1px 1px 4px #484a46;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#portfolioContainer.content {
  background: linear-gradient(135deg, #484a46, purple, navy, #3b92fd, lightblue, #fef6e2);
  background-size: 200% 200%;
  /* animation: bgGradient 12s ease infinite; */
}

@keyframes bgGradient {
  0%    {background-position: 0% 50%}
  50%   {background-position: 100% 50%}
  100%  {background-position: 0% 50%}
}

@keyframes starsPosition {
  0%    {transform: translate(0vw, 0vh)}
  50%   {transform: translate(-100vw, -100vh)}
  100%  {transform: translate(0vw, 0vh)}
}

.starsContainer {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

#stars, #nature {
  position: absolute;
  height: 100vh;
  width: 100vw;
  background: transparent;
  overflow: hidden;
}

#stars {
  top: 0vh;
  left: 0vw;
  /* animation: starsPosition 20s ease-in-out infinite alternate; */
}

#aboutMe {
  background-color: transparent;
  overflow: hidden;
}

#aboutMeMenu {
  position: absolute;
  bottom: 30px;
  left: 40px;
  /* border: 1px solid black; */
  width: 180px;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

#aboutMeMenu:hover {
  cursor: pointer;
}

#head, #desk, #heart, #slash {
  position: relative;
  text-align: center;
  color: white;
  transition:
      color 0.1s linear,
      font-weight 0.1s linear,
      transform 0.15s ease-in-out;
}

#head:hover, #desk:hover, #heart:hover, #slash:hover {
  color: gold;
  font-weight: normal;
}

#lightning, .lightningContainer {
  width: 100vw;
  height: 100vh;
  background: gray;
}

#lightning.whiteBg {
  background-color: white;
}

#head.aBUp, #desk.aBUp, #heart.aBUp, #slash.aBUp,
#headImg.aBUp, #deskImg.aBUp, #heartImg.aBUp, #slashImg.aBUp {
    transform: translateY(-50px);
}

#headImg, #heartImg, #deskImg {
  -webkit-filter: drop-shadow(2px 2px 2px #484a46);
  filter: drop-shadow(2px 2px 2px #484a46);
  height: 48px;
  background-repeat: no-repeat;
  background-position: center;
}

#headImg {
  background-image: url("./img/head1.png");
}

#headImg.img2 {
  background-image: url("./img/head2.png");
}

#headImg.img3 {
  background-image: url("./img/head3.png");
}

#heartImg {
  background-image: url("./img/heart1.png");
}

#deskImg {
  background-image: url("./img/desk1.png");
}

#sparks, .sparksContainer {
  width: 100vw;
  height: 50vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: transparent;
}

@media (max-width: 1099px) {

}

@media (max-width: 579px) {
  #portfolioContainer.content {
    position: relative;
    overflow: auto;
    height: 1260px;
    min-height: 1260px;
  }

  .portfolioHeader {
    /* margin-top: 120px; */
  }

  #stars, .starsContainer {
    min-height: 1260px;
    height: 1260px;
  }

  .starsContainer {
    /* position: relative; */
  }

  #portfolio {
    width: 350px;
    height: 1260px;
    max-height: 1260px;
  }

  .portfolioBox {
    /* transform: scale(0.6); */
    /* margin: 0; */
  }

  .portfolioBox:last-child {
    margin-bottom: 25px;
  }

  #initial img {
    height: 160px;
    width: 160px;
    border-width: 7px;
  }

  #initial h2 {
    font-size: 2em;
  }

  #initial p {
    font-size: 1.2em;
  }

  #initial span {
    width: 85%;
  }
}
